@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>
@Html.ActionLink("Add New Movie", "New", "Movies", new {@class = "btn btn-primary my-2"})
@if (Model.Count() == 0)
{
    <h4>There are no movies yet.</h4>
}
else
{
    <table class="table table-bordered table-hover">
        <tr class="table-secondary">
            <th scope="row">
                Customers
            </th>
            <th scope="row">
                Genre
            </th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)
                </td>
                <td>
                    @movie.Genre.Name
                </td>
            </tr>
        }
    </table>
}
