@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

@Html.ActionLink("Add New Customer", "New", "Customers", null, new {@class = "btn btn-primary my-2"})

@*<link class="btn btn-primary" onclick="AddNewCustomer()">New Customer</link>*@
@if (Model.Count() == 0)
{
    <h4>There are no customers yet.</h4>
}
else
{
    <table class="table table-bordered table-hover">
        <tr class="table-secondary">
            <th scope="row">
                Customers
            </th>
            <th scope="row">
                Discount Rate
            </th>
        </tr>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
@*                    <a href="https://localhost:44361/Customers/details/@customer.Id">@customer.Name</a>*@
                    @Html.ActionLink(customer.Name, "Edit", "Customers", new {id = customer.Id}, null)

                </td>
                <td>
                    @customer.MembershipType.Name
                </td>
            </tr>
        }
    </table>
}